django>=5.0
djangorestframework>=3.14
djangorestframework-simplejwt
django-cors-headers
psycopg2-binary
Pillow
python-dotenv
stripe
torch
torchvision
mediapipe==0.10.9
opencv-python==4.9.0.80
opencv-contrib-python==4.9.0.80
transformers
diffusers
accelerate
drf-spectacular
numpy<2.0.0
django-filter
channels
daphne
requests

